<div class="container mx-auto p-4">
  <h1 class="text-3xl font-bold mb-4">Gerenciamento de Rotas</h1>
  <nav class="mb-4">
    <ul class="flex space-x-4">
      <li><a routerLink="/" class="text-blue-500 hover:underline">Home</a></li>
      <li><a routerLink="/rotas" class="text-blue-500 hover:underline">Listar Rotas</a></li>
      <li><a routerLink="/rotas/Novo" class="text-blue-500 hover:underline">Criar Rota</a></li>
      <li><a routerLink="/melhor-rota" class="text-blue-500 hover:underline">Consultar Melhor Rota</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>